{
    "repositories": [
        {
            "type": "path",
            "url": "../slate",
            "options": {
                "symlink": true
            }
        },
        {
            "type": "path",
            "url": "../slate-blocks",
            "options": {
                "symlink": true
            }
        }
    ],
    "require": {
        "electrik/slate": "@dev",
        "electrik/slate-blocks": "@dev"
    }
}
